.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.gallery__thumb {
    position: relative;
}
.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}
.gallery__image:hover {
    transform: scale(1.1);
}


.gallery_caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

.p1{

    text-align: center;
    font-family:'Courier New', Courier, monospace;
    position: absolute; 
    font-size: 24px;
    left:49%
}