/* Index webpage coding */

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo{
    width: 10ch;
    animation: typing 2s steps(9), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left:45%;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* Intro page coding*/
.artistp{
    
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 80;
  }

/* coding for "bakeandart" webpage. */

.cakecolor{
    position: absolute;
    top: 35%;
    left:24%
}

.paintcolor{
    position: absolute;
    top: 39%;
    left:37%
}

.icon{
    position: absolute;
    top: 39%;
    left:50%
}

.house{
    position: absolute;
    top: 38%;
    left:60%
}

.cakecolor:hover, .paintcolor:hover, .icon:hover, .house:hover {
    transform: scale(1.1);
}

/* video page coding */
.cute{
    position: absolute;
    top: 30%;
    left:32%
}

.p3{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    bottom: 10%;
    left:49%
}
